.Modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(79, 79, 79, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100vh;

    .ModalWrapper {
        border-radius: 12px;
        background-color: white;
        z-index: 12;
    }
}